#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
}

main {
  display: grid;
  margin: 0 150px;
  grid-template-columns: 3fr 1fr;
}

/* media query */
/* for mobile devices */
@media only screen and (max-width: 688px) {
  main {
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
  }
}
